[Unit]
Description=Launch gimmeasearx
Requires=network-online.target
After=network-online.target

[Service]
DynamicUser=yes
Environment=PORT=:8080
WorkingDirectory=TEMPLATE_DIR
ExecStart=/usr/bin/gimmeasearx
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

